<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panteon</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="header__top">
                <a href="#" class="header__top-logo">
                    <img src="../images/logo.svg" alt="">
                </a>
                <ul class="header__top-list">
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">О нас</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Галерея</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Абонементы</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Тренеры</a>
                    </li>
                    <li class="header__top-item">
                        <a href="#" class="header__top-link">Контакты</a>
                    </li>
                </ul>
                <svg xmlns="http://www.w3.org/2000/svg" width="217" height="170" viewBox="0 0 217 170" fill="none">
                    <path d="M1.26212 -53.1263L26.153 -72.5822L169.056 108.361L126.591 108.361L1.26212 -53.1263Z"
                        stroke="white" />
                    <path d="M63.8151 -46.2393L216.32 146.862L169.946 146.862L36.5951 -24.9629L63.8151 -46.2393Z"
                        fill="#F7931E" />
                </svg>
                <a href="tel:+74964161916" class="header__top-phone">+7 (496) 416-19-16</a>
            </div>
        </div>

        <div class="header__info">
            <div class="header__info-img">
                <svg width="321" height="457" viewBox="0 0 321 457" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.76185 51.8583L320.994 456.869L174.343 456.869L-86.4836 121.617L2.76185 51.8583Z"
                        fill="#0C1417" fill-opacity="0.8" />
                    <path d="M0.076986 0.0687848L214.346 271.376L149.192 271.376L-38.1671 29.9622L0.076986 0.0687848Z"
                        fill="#F7931E" />
                    <path d="M-55.5599 189.577L-22.3891 163.649L166.903 403.331L110.332 403.331L-55.5599 189.577Z"
                        stroke="white" />
                </svg>
            </div>
            <div class="header__info-inner">
                <h1 class="header__info-title">
                    Фитнес клуб Пантеон
                </h1>
                <p class="header__info-subtitle">
                    Лучше нас только боги
                </p>
                <div class="header__info-link-inner">
                    <a href="#" class="header__info-link">
                        Получить консультацию
                    </a>
                </div>
                <div class="header__info-box">
                    <div class="header__info-box__link-wrapper">
                        <a href="#" class="header__info-box__link">
                            <img src="../images/arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="header__info-box__social">
                        <a href="#" class="header__info-box__social-link">
                            <img src="../images/instagram.svg" alt="">
                        </a>
                        <a href="#" class="header__info-box__social-link">
                            <img src="../images/vk.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>